.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
 
    background-size: cover;
    background-position: center;
  }
 
  .content {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }